<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %} Damien Chabret {% endblock %}</title>
        
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-dc-white.ico' %}">
    </head>

    <body>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
                <li class="navbar-item"><a href="/projects" class="navbar-link">Projects</a></li>
                <li class="navbar-item"><a href="/parcours" class="navbar-link">Parcours</a></li>
                <li class="navbar-item"><a href="/ideas" class="navbar-link">Ideas</a></li>
            </ul>
        </nav>
        {% block content %}

        {% endblock %}
    </body>
</html>