body{
    background-color: #22333B;
    height: 100%;
    padding: 0;
    margin: 0;
    color : white;
}

/* projects */
#no-projects, #no-categories {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects {
    margin: 100px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categories {
    margin: 100px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    width: 400px; 
    height: 300px;
    flex: 1 1 400px;
    position: relative;
    display: relative;
    overflow: hidden; 
    background-color: #536b788c;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.category {
    width: 300px;
    height: 300px;
    flex: 1 1 400px;
    position: relative;
    display: flex; 
    overflow: hidden; 
    background-color: #536b788c;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}


.project:hover, .category:hover{
    transform: scale(1.1); /* Agrandissement de 20% lors du survol */
    background-color: #ffffff;
}

.project a, .categories a {
    text-decoration: none; 
    color: #ffffff;
    width: auto;
    height: auto;
    display: block;
    width: 100%;
    height: 100%;
    margin: 28px;
}

.project:hover .project-name,
.project:hover .project-description,
.category:hover .category-name {
    color: #536b788c;
}



.project-name, .category-name {
    font-weight: bold; 
    font-size: 50px;
    transition: color 0.3s ease;
}

.category-name {
    text-align: center; /* Centrage horizontal du texte */
    position: absolute;
    top: 50%;
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%);
}

.project-description {
    font-style: italic; 
    font-size: 30px;
    transition: color 0.3s ease;
}

.project-link {
    text-decoration: none;
    color: inherit;
}


/* projects details */
#project-detail {
    display: flex;
    flex-direction: column;
}

#project-top {
    display: flex;
    align-items: center;
    background-color: #536b788c;
    margin: 10px;
    color : white;
}

#project-top img {
    margin-right: 10px;
    width: 150px;
    height: 150px;
    margin : 10px;
}

#project-bottom {
    display: flex; 
}

#project-middle {
    flex: 3; 
    margin: 10px;
    background-color: #536b788c;
}

#project-middle > * {
    margin: 28px;
}

#project-info {
    flex: 1; /* Prend 1/4 de l'espace disponible */
    width: 25%;
    height: 70%;
    background-color: #536b788c;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 10px;
}


#project-info > * {
    margin: 28px;
}


.p-title{
    font-weight: bold;
    font-size:larger;
}

#project-name {
    font-size:xx-large;
    display: flex; /* Utiliser flexbox pour aligner les éléments sur la même ligne */
    align-items: center; /* Aligner les éléments verticalement */
}

#project-name img {
    margin-right: 10px; /* Espacement entre l'image et le titre */
    width: 150px;
    height: 150px;
}

/* Styling navbar */
.navbar {
    background-color: #536B78; 
    padding: 15px 0; 
}

.navbar-list {
    list-style-type: none;
    text-align: center;
}

.navbar-item {
    display: inline-block; 
    margin-right: 20px;
}

.navbar-link {
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 10px 15px; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #555;
}

/* index */
.portfolio-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-container p{
    font-size: x-large;
}

#title {
    font-size: 70px; 
}

.portfolio-rectangle {
    width: 280px; 
    height: 0.2px; 
    background-color: #000000;
    margin: 20px auto; 
}
