body{
    background-color: #F4F2F3;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* projects */
#no-projects{
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}
.projects {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Définissez le nombre de colonnes en fonction de la taille des projets */
    grid-gap: 20px; /* Espacement entre chaque projet */
}

.project {
    width: 200px; /* Définissez la largeur souhaitée pour chaque projet */
    height: 200px; /* Définissez la hauteur souhaitée pour chaque projet */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centrer le texte à l'intérieur de chaque projet */
    border: 1px solid #ccc; /* Ajouter une bordure pour séparer les projets */
}

.project img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Pour que l'image couvre tout l'espace disponible */
}

.project-name,
.project-description {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

/* projects details */
#project-info {
    position: fixed;
    top: 0; /* Aligner en haut */
    right: 0;
    width: 25%;
    height: 70%;
    background-color: #7b787894;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    float: right;
    margin: 20px;
    margin-top: calc(100px + 20px); /* Espacement par rapport aux éléments au-dessus */
}


.p-title{
    font-weight: bold;
    font-size:larger;
}

#project-name {
    font-size:xx-large;
    display: flex; /* Utiliser flexbox pour aligner les éléments sur la même ligne */
    align-items: center; /* Aligner les éléments verticalement */
}

#project-name img {
    margin-right: 10px; /* Espacement entre l'image et le titre */
    width: 150px;
    height: 150px;
}

/* Styling navbar */
.navbar {
    background-color: #333; /* Background color */
    padding: 15px 0; /* Padding */
}

.navbar-list {
    list-style-type: none; /* Remove bullet points */
    text-align: center; /* Center-align list items */
}

.navbar-item {
    display: inline-block; /* Display items in a line */
    margin-right: 20px; /* Spacing between items */
}

.navbar-link {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size */
    padding: 10px 15px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.navbar-link:hover {
    background-color: #555; /* Darker background color on hover */
}