body{
    background-color: #F4F2F3;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* projects */
#no-projects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 150px; 
}

.project {
    width: 300px; 
    height: 300px;
    position: relative;
    overflow: hidden; 
    border: 1px solid #ccc; 
}

.project:hover{
    transform: scale(1.2); /* Agrandissement de 20% lors du survol */
}

.project a {
    text-decoration: none; 
    color: #ffffff;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.01), rgba(7, 7, 7, 0.3)); /* Dégradé du haut vers le bas */
    padding: 10px;
    box-sizing: border-box; 
}

.text-overlay div{
    bottom: 0;
}

.project-name {
    font-weight: bold; 
}

.project-description {
    font-style: italic; 
}

.project-link {
    text-decoration: none;
    color: inherit;
}


/* projects details */
#project-detail {
    display: flex;
    flex-direction: column;
}

#project-top {
    display: flex;
    align-items: center;
    background-color: #555;
    margin: 10px;
    color : white;
}

#project-top img {
    margin-right: 10px;
    width: 150px;
    height: 150px;
    margin : 10px;
}

#project-bottom {
    display: flex; 
}

#project-middle {
    flex: 3; 
    margin: 10px;
    background-color: #555;
}

#project-info {
    flex: 1; /* Prend 1/4 de l'espace disponible */
    width: 25%;
    height: 70%;
    background-color: #7b787894;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 10px;
}

.p-title{
    font-weight: bold;
    font-size:larger;
}

#project-name {
    font-size:xx-large;
    display: flex; /* Utiliser flexbox pour aligner les éléments sur la même ligne */
    align-items: center; /* Aligner les éléments verticalement */
}

#project-name img {
    margin-right: 10px; /* Espacement entre l'image et le titre */
    width: 150px;
    height: 150px;
}

/* Styling navbar */
.navbar {
    background-color: #333; 
    padding: 15px 0; 
}

.navbar-list {
    list-style-type: none;
    text-align: center;
}

.navbar-item {
    display: inline-block; 
    margin-right: 20px;
}

.navbar-link {
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 10px 15px; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #555;
}

/* index */
.portfolio-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-container p{
    font-size: x-large;
}

#title {
    font-size: 70px; 
}

.portfolio-rectangle {
    width: 280px; 
    height: 0.2px; 
    background-color: #000000;
    margin: 20px auto; 
}
