{% extends "base.html" %}

{%block content%}
    <div id="list-projects">
        {% for project in projects %}
            <div class="project"> <!-- 'detail' ref to url name -->
                <a href="{% url 'detail' project.project_name %}"> {{ project.project_name }} </a>
            </div> 
           {% empty %}
            <div id="no-projects">
                <h1 > No projects </h1>
                <hr class="rectangle">
            </div>
        {% endfor %}
    </div>    
{%endblock%}