<p> {{ project.project_name }} </p>
<p> {{ project.project_description }} </p>
programmation langages 
<ul>
{% for langage in project.get_used_langages_list %}
    <li> {{langage}} </li>
{%endfor%}
</ul>

{% if project.usedTools %}
TOOLS
<ul>
{% for tool in project.get_used_tools_list %}
    <li> {{tool}} </li>
{%endfor%}
</ul>
{% endif %}

{%if project.usedSkills%}
SKILLS 
<ul>
{% for skill in project.get_used_skills_list %}
    <li> {{skill}} </li>
{%endfor%}
</ul>
{%endif%}

<p> Github Link : {{ project.github }} </p>