{% extends "base.html" %}

{%block content%}

{% if projects %}
    <div class="container">
        <div class="carousel">
            <!-- carousel -->
            <div class="carousel-list-projects">
                {% for project in projects %}
                <div class="project"> <!-- 'detail' ref to url name -->
                    {% load static %}
                    <img src="{% static 'assets/image-test.jpg'%}"/>
                    <!--   <a href="{% url 'detail' project.project_url %}"> <p> {{ project.project_name }} </p> </a>      -->
                </div>       
                {% endfor %}
            </div>

            <!-- controllers -->
            <div class="carousel-controls">
                {% load static %}
                <button id="prev"> <i class="fa-solid fa-angle-left fa-2xl"></i> </button>
                <button id="next"> <i class="fa-solid fa-angle-right fa-2xl"></i> </button>
            </div>

            <!-- navigations -->
            <div class="carousel-dots"></div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/852c895433.js" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/carrousel.js'%}"></script>
{%else%}
    <div id="no-projects">
        <h1 > No projects </h1>
        <hr class="rectangle">
    </div>
{% endif%}

{%endblock%}
