{% extends "base.html" %}

{%block content %}

{% if projects %}
    <div class="projects">
        {% for project in projects %}
        <div class="project">
            <a href="{{project.project_url}}">
                <div class="text-overlay">
                    <div class="project-name">{{ project.project_name }}</div>
                    <div class="project-description">{{ project.project_description }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <script src="https://kit.fontawesome.com/852c895433.js" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/carrousel.js'%}"></script>
{%else%}
    <div id="no-projects">
        <h1 > No projects </h1>
        <hr class="rectangle">
    </div>
{% endif%}

{%endblock%}
