body{
    background-color: #F4F2F3;
    height: 100%;
}

/* projects */
#no-projects{
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

#list-projects {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 100px; /* Augmentation de l'espace entre les éléments */
    justify-content: center; 
    margin: 0 auto; /* Ajout de cette ligne pour centrer la grille horizontalement */   
}

.project{
    background-color: #9EBC9F;
    width: 380px; /* 25% width for 4 projects in a row, minus margin */
    height: 350px;
    border-radius: 24px;
    transition: 0.3s;
    overflow: hidden;
    position: relative; /* La position relative est nécessaire pour que les positions absolues à l'intérieur soient relatives à cette div */
}

.project:hover{
    transform: scale(1.2);
}

.project img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.project a {
    position: absolute; /* Position absolue par rapport à la div parente */
    top: 0;
    left: 0;
    width: 100%; /* Le lien prendra toute la largeur de la div parente */
    height: 100%; /* Le lien prendra toute la hauteur de la div parente */
    text-decoration: none; /* Supprimer la décoration du lien */
    background-color: transparent; 
}

.project a p {
    position: absolute; /* Le lien est positionné par rapport à la div parente */
    bottom: 0; /* Le lien sera positionné au bas de la div parente */
    left: 0; /* ou right: 0; si vous voulez qu'il soit à droite */
    background-color: rgba(255, 255, 255, 0.5); /* Arrière-plan semi-transparent pour une meilleure lisibilité */
    padding: 15px; /* Marge intérieure pour un meilleur espacement */
    color : #333;
    width: 100%;
    text-align: center;
    font-size: 20px;
}